body{
  background-color: #272B30;
  color: #C8C8C8;
  font-family: 'Syncopate', sans-serif;
  /*font-family: 'Wire One', sans-serif;*/
  /*font-family: 'Arima Madurai', cursive;*/
}

section{
  margin-top: 2%;
  border: 1px solid black;
  padding: .5%;
}

.tasksList{
  float: left;
  height: 80%;
  width: 15%;
}

.tasksList h5{
  margin: 5px 0 0 45px;
}

.calendar{
  /*margin-left: 10%;*/
  /*padding-right: .5%;*/
  width: 75%;
  /*border: 1px solid red;*/
}

li{
  list-style: none;
}

ul#dates{
  display:inline;
  padding-left: 1%;
}

ul#dates li{
  display: inline;
  /*margin: .3%;*/
  font-size: .8em;
  padding: 0 !important;
}

.goals{
  margin-top: 1%;
  float: left;
  width: 15vw;
  margin-left: .5%;
  color: yellow;
  border: 2px solid yellow;
}

.goals li{
  margin-bottom: 10%;
  margin-top: 2%;
  /*padding-left: 8%;*/
}

.taskOne{
  display: block;
  margin-left: 10.7%;
  margin-top: 1.2%;
  /*padding-bottom: .3%;*/
  width: 88vw;
  /*border: 1px solid red;*/
}

ul.taskOne li {
  display:inline-block;
  width: 1em;
}
.taskOne li{
  /*padding-right: 2%;*/
  margin-left: .2%;
}

.taskOne li:nth-child(1){
  margin-right: .1%;
  margin-left: -.5%;
}

.taskOne li:nth-child(2){
  margin-right: .1%;
  margin-left: .3%;
}

.taskOne li:nth-child(3){
  margin-right: .1%;
  margin-left: .3%;
}

.taskOne li:nth-child(4){
  margin-right: .1%;
  margin-left: .5;
}

.taskOne li:nth-child(5){
  margin-right: 0;
  margin-left: .2%;
}

.taskOne li:nth-child(6){
  margin-right: .5%;
  margin-left: .2%;
}

.taskOne li:nth-child(7){
  margin-right: .5%;
  margin-left: .1%;
}

.taskOne li:nth-child(8){
  margin-right: .5%;
  margin-left: -.2%;
}

.taskOne li:nth-child(9){
  margin-right: .5%;
  margin-left: -.3%;
}

.taskOne li:nth-child(10){
  margin-right: .1%;
  margin-left: .1%;
}

.taskOne li:nth-child(11){
  margin-right: .5%;
  margin-left: .9%;
}

.taskOne li:nth-child(12){
  margin-right: .7%;
  margin-left: .7%;
}

.taskOne li:nth-child(14){
  margin-right: .7%;
  margin-left: 1%;
}

.taskOne li:nth-child(15){
  margin-right: .7%;
  margin-left: .3%;
}

.taskOne li:nth-child(16){
  margin-right: .7%;
  margin-left: .3%;
}

.taskOne li:nth-child(17){
  margin-right: .7%;
  margin-left: .5%;
}

.taskOne li:nth-child(18){
  margin-right: .7%;
  margin-left: .5%;
}

.taskOne li:nth-child(19){
  margin-right: .7%;
  margin-left: 0;
}

.taskOne li:nth-child(20){
  margin-right: .7%;
  margin-left: .2%;
}

.taskOne li:nth-child(21){
  margin-right: .7%;
  margin-left: .4%;
}

.taskOne li:nth-child(22){
  margin-right: .9%;
  margin-left: .5%;
}

.taskOne li:nth-child(24){
  margin-right: .9%;
  margin-left: 1%;
}

.taskOne li:nth-child(n+25){
  margin-right: .9%;
  margin-left: .2%;
}

.taskOne li:last-child{
  margin-right: -8%;
  margin-left: 0;
}
