.tasksList{
  margin:0;
  padding: 3px 100px 3px 100px;
  display: inline;
  font-size: 2em;
  border: 1px solid purple;
}

ul#dates{
  display:inline;
  padding: 0 0 2px;
  margin: 0;
  text-align: right;
}

ul#dates li{
  display: inline;
  list-style: none;
  font-size: 2em;
}

ul#dates li#greeting{
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.8em;
  color: #fff;
  border: 1px solid red;
}
section{
  margin-top: 5%;
  border: 1px solid red;
}
