body{
  background-color: #272B30;
  color: #C8C8C8;
}

li{
  list-style: none;
}

.tasksList{
  padding: 2px 50px 3px 20px;
  display: inline;
  font-size: 1em;
  border-right: 1px solid #000000;
}

ul#dates{
  display:inline;
  padding: 0 5px 2px 10px;
  text-align: center;
  margin-left: 2%;
}

ul#dates li{
  display: inline;
  font-size: 1em;
  margin: .2%;
}

section{
  margin-top: 5%;
  border: 1px solid black;
}

.goals{
  margin-top: 1%;
  float: left;
  width: 10vw;
  margin-left: .5%;
}

.goals li{
  margin-bottom: 10%;
  margin-top: 2%;
  padding-left: 8%;
}

.taskOne{
  display: block;
  margin-left: 10.7%;
  margin-top: 1%;
  width: 85vw;
}

ul.taskOne li {
  display:inline-block;
  width: 1em;
}
.taskOne li{
  padding-right: 2%;
  margin-left: .2%;
}

.taskOne li:nth-child(1){
  margin-right: .1%;
  margin-left: -.1%;
}

.taskOne li:nth-child(2){
  margin-right: .1%;
  margin-left: .3%;
}

.taskOne li:nth-child(3){
  margin-right: .1%;
  margin-left: .5%;
}

.taskOne li:nth-child(4){
  margin-right: .1%;
  margin-left: .5;
}

.taskOne li:nth-child(5){
  margin-right: 0;
  margin-left: .3%;
}

.taskOne li:nth-child(6){
  margin-right: .5%;
  margin-left: .4%;
}

.taskOne li:nth-child(7){
  margin-right: .5%;
  margin-left: -.1%;
}

.taskOne li:nth-child(8){
  margin-right: .5%;
  margin-left: -.2%;
}

.taskOne li:nth-child(9){
  margin-right: .8%;
  margin-left: .1%;
}

.taskOne li:nth-child(10){
  margin-right: .8%;
  margin-left: 0;
}

.taskOne li:nth-child(11){
  margin-right: .5%;
  margin-left: .2%;
}

.taskOne li:nth-child(n+12){
  margin-right: .7%;
  margin-left: .7%;
}

.taskOne li:nth-child(n+14){
  margin-right: .7%;
  margin-left: .4%;
}

.taskOne li:nth-child(n+15){
  margin-right: .7%;
  margin-left: .3%;
}

.taskOne li:nth-child(n+17){
  margin-right: .7%;
  margin-left: .5%;
}

.taskOne li:nth-child(n+20){
  margin-right: .7%;
  margin-left: .2%;
}

.taskOne li:nth-child(n+21){
  margin-right: .7%;
  margin-left: .4%;
}

.taskOne li:nth-child(n+22){
  margin-right: .9%;
  margin-left: .5%;
}

.taskOne li:nth-child(n+25){
  margin-right: .9%;
  margin-left: .2%;
}

.taskOne li:last-child{
  margin-right: -8%;
  margin-left: 0;
}
